[Unit]
Description=Prometheus Minecraft Exporter
After=network.target minecraft.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=ubuntu
Nice=1
KillMode=mixed
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/minecraft-exporter --mc.rcon-address=":25565" --mc.rcon-password="" --mc.world="./world" --log.level=error

[Install]
WantedBy=multi-user.target