[Unit]
Description=Minecraft Server
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=ubuntu
Nice=1
KillMode=mixed
SuccessExitStatus=0 1
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/ubuntu/server
ExecStart=/usr/local/java/jdk-14/bin/java -Xmx2048M -Xms1024M -jar /usr/local/bin/server.jar nogui

[Install]
WantedBy=multi-user.target